[submodule "components/makerfabs_uwb"]
	path = components/makerfabs_uwb
	url = https://github.com/Makerfabs/Makerfabs-ESP32-UWB.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
